@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive:regular);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

/* left side */
.left-side {
  width: 30%;
  background-color: #1b98f5;
  color: white;
  height: 100vh;
}

.month-year {
  font-size: 1.5rem;
  margin: 2rem auto;
  border: 2px solid #ffffff;
  padding: 0.4rem 1.2rem;
}

.budget-info {
  text-align: center;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.total-amount {
  margin-top: 1.2rem;
}

.circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circle span {
  font-size: 1.5rem;
  font-weight: 800;
  color: #1c8d73;
}

.tagline {
  display: flex;
  margin-top: 2rem;
}

.tagline h4 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 2rem;
  margin: auto;
}

/* right side */
.right-side {
  width: 70%;
  background-color: white;
  padding: 1.2rem;
}

.right-head {
  font-weight: 800;
}

.coinkeeper-info {
  text-align: center;
}

.dropdown {
  margin: 2rem auto;
}

.dropdown select {
  font-size: 1.1rem;
  background-color: #1b98f5;
  color: #ffffff;
}

.options {
  background-color: #ffffff;
  color: #1b98f5;
}

.fa-home {
  background-color: #1b98f5;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 50%;
}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 1rem;
}

.input-group input {
  flex: 1;
  padding: 0.5rem;
  border: 2px solid #535b5c;
  color: #535b5c;
  font-size: 1.1rem;
}

.input-group input:first-child {
  flex: 2;
}

.tick {
  background-color: yellow;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.8rem;
}

.add-button {
  background-color: #1b98f5;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

hr {
  border: none;
  border-top: 1px solid blue;
  margin: 1.2rem 0;
}

.filter-section {
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.filter-btns {
  width: 7rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  background: #cad5e2;
  font-weight: 600;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.active {
  background-color: #1b98f5;
  color: #ffffff;
}

/* budget list */
.budget-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.budget {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  color: #1b98f5;
  font-weight: 600;
}

.budget i{
  color: #000;
}

.desc {
  width: 25rem;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .left-side {
    height: auto;
  }

  .tagline {
    display: none;
  }

  .input-group {
    flex-direction: column;
    gap: 1rem;
  }

  .input-group input {
    width: 70%;
  }

  .add-button {
    display: block;
  }

  .budget {
    flex-direction: column;
    gap: 1rem;
  }

  .desc {
    width: auto;
  }
}

@media (max-width: 525px) {
  .filter-section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
  }

  .filter-btns {
    margin: auto;
  }
}
